.keyboard {
    position: relative;
    left: 500px;
    top: 00px;
    height: 100px;
    width: 100px;
    padding: 5px;
    user-select: none;
    transition: bottom 0.4s;
    touch-action: none;

}

.keyboard_keys {
    position: absolute;
    top:50px;
    text-align: center;
    touch-action: none;
    height: 100px;
    width: 100px;
}

.keyboard_key {
    position:absolute;

    height: 33.33px;
    width: 33.33px;
    margin: -1.5px;
    font-size: 1rem;
    outline: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: top;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    touch-action: none;
    z-index: 2;

}
#txt_area{
    position: relative;
    left: 400px;
    top: 0px;
    width: 300px;
/*     style="top: 130px; right: 30px; width: 300px;" */
}
p{
    position: relative;
    /* padding: 10px; */
    /* top: 200px; */
    z-index: 0;
    /* width: 100px; */
}
.cross
{
  position:absolute;
  top: -15px;
  left: -10px;
  z-index: 0;
  width: 120%;
  height: 120%;
}

.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.autowords {

    position:fixed;
    top: 185px;
    left: 400px;
    padding: 5px;
}
/*
.www {
    left: 0;
    bottom: 0;
    height: 90px;
    width: 102px;
    padding: 5px 0;
    background: #004134;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    user-select: none;
    transition: bottom 0.4s;
} */
